.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #eee3cb;
}
* {
  background: #eee3cb;
}
.Home {
  display: flex;
  flex-direction: row;
  margin: 10px;
  /* padding: 10px; */
}
.container {
  background: rgba(100, 10, 100, 1);
  height: 100%;
  width: 100%;
  /* color: red; */
  justify-content: center;
  align-items: center;
}
.clock {
  background-color: black;
  height: 10vh;
  width: 10vw;
  display: flex;
  flex-wrap: wrap;
}
.hour {
  flex-basis: 20%;
}
